<%- include('../layouts/admin/header.ejs') %>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <%- include('../layouts/admin/sideBar.ejs') %>
  <div class="body-wrapper">
    <%- include('../layouts/admin/headerBar.ejs') %>
    <div class="container-fluid mt-3">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add New Offers</h4>
              <form action="/admin/addOfferCatDB" method="post">
                <div class="form-group">
                  <label for="categories">Category Name</label>
                  <select class="form-control" id="categories" name="categories" required>
                    <% categories.forEach((item) => { %>
                    <% if (!item.is_block) { %>
                    <option value="<%= item.name %>"><%= item.name %></option>
                    <% } %>
                    <% }) %>
                  </select>
                </div><!-- End .form-group -->
                <div class="form-group">
                  <label for="percentage">Percentage of Offers</label>
                  <select class="form-control" id="percentage" name="percentage" rows="1">
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">30%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                  </select>
                </div><!-- End .form-group -->
                <div class="form-group">
                  <label for="product">Ending Date</label>
                  <input type="date" class="form-control" id="EndingDate" name="EndingDate">
                  <p id="dateValidation" style="color: red;"></p>
                </div>
                <div class="form-footer">
                  <button type="submit" id="submitBtn" class="btn btn-outline-primary-2 bg-primary">
                    <span>Submit</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                  <button class="btn btn-dark">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../layouts/admin/footer') %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#EndingDate').on('input', function () {
          const selectedDate = new Date($(this).val());
          const currentDate = new Date();
          if (selectedDate <= currentDate) {
            $('#submitBtn').prop('disabled', true);
            $('#dateValidation').text('Selected date must be greater than the current date');
          } else {
            $('#submitBtn').prop('disabled', false);
            $('#dateValidation').text('');
          }
        });
      });
    </script>
  </div>
</div>
