<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<!-- Invoice 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
        <div class="row gy-3 mb-3">
          <div class="col-6">
            <h2 class="text-uppercase text-endx m-0">Invoice</h2>
          </div>
          <div class="col-6">
            <a class="d-block text-end" href="#!">
              <img src="/public/user/assets/images/demos/demo-5/logo.png" alt="Molla Logo" width="125" height="95">
            </a>
          </div>
          <div class="col-12">
            <h4>From</h4>
            <address>
                <strong>AJVX STORE</strong><br>
                10 Orchard Road<br>
                Singapore, SG 238845<br>
                Singapore<br>
                Phone: +65 1234 5678<br>
                Email: info@ajvxstore.com
            </address>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-sm-6 col-md-8">
            <h4>Bill To</h4>
            
            <address>
                <strong><%= userData.firstName %> <%= userData.lastName %></strong><br>
                <%= userData.email %><br>
                <%= userData.mobile %><br>
                
            </address>
            
          
          </div>
          <!-- <div class="col-12 col-sm-6 col-md-4">
            <h4 class="row">
              <span class="col-6">Invoice #</span>
              <span class="col-6 text-sm-end">{{ orderData.invoiceNo }}</span>
            </h4>
            <div class="row">
              <span class="col-6">Order ID</span>
              <span class="col-6 text-sm-end">{{ orderData.id }}</span>
              <span class="col-6">Invoice Date</span>
              <span class="col-6 text-sm-end">{{ orderData.invoiceDate }}</span>
              <span class="col-6">Due Date</span>
              <span class="col-6 text-sm-end">{{ orderData.dueDate }}</span>
            </div>
          </div> -->
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-uppercase">Qty</th>
                    <th scope="col" class="text-uppercase">Product</th>
                    <th scope="col" class="text-uppercase text-end">Unit Price</th>
                    <th scope="col" class="text-uppercase text-end">Amount</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% orderData.products.forEach(product => { %>
                        <tr>
                            <th scope="row"><%= product.count %></th>
                            <td><%= product.product.name %></td>
                            <td class="text-end"><%= product.product.price %></td>
                            <!-- <td class="text-end"><%= product.total %></td> -->
                        </tr>
                    <% }); %>
                    
                    <tr>
                        <td colspan="3" class="text-end">Subtotal</td>
                        <td class="text-end"><%= orderData.totalAmount %></td>
                    </tr>
                    <!-- <tr>
                        <td colspan="3" class="text-end">VAT (<%= orderData.taxRate %>)%</td>
                        <td class="text-end"><%= orderData.tax %></td>
                    </tr> -->
                    <!-- <tr>
                        <td colspan="3" class="text-end">Shipping</td>
                        <td class="text-end"><%= orderData.shippingFee %></td>
                    </tr> -->
                    <tr>
                        <th scope="row" colspan="3" class="text-uppercase text-end">Total</th>
                        <td class="text-end"><%= orderData.totalAmount %></td>
                    </tr>
                </tbody>
                
                  
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-end">
            <button type="button" class="btn btn-primary mb-3" onclick="window.print()">Download Invoice</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
